project/pacman/bin
project/pacman/obj
project/ProcessCreationService/bin
project/ProcessCreationService/obj
project/PuppetMaster/bin
project/PuppetMaster/obj
project/Server/bin
project/Server/obj
project/Shared/bin
project/Shared/obj
project/TEST/bin
project/TEST/obj
project/.vs