project/Server/bin/Debug/Server.vshost.exe
project/Server/bin/Debug/Server.vshost.exe.config
project/Server/bin/Debug/Server.vshost.exe.manifest
project/Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
project/Shared/obj/Debug/Shared.csprojResolveAssemblyReference.cache
project/pacman/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
